auto-install-peers=true
strict-peer-dependencies=false

prefer-frozen-lockfile=true

shamefully-hoist=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

loglevel=warn

save-exact=false
